---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Framework Comparison" type="home">
  <main>
    <p>
      Benchmarking various front-end frameworks by adding 30,000 div elements
      and then continually modifying one of the elements via the framework's
      state mechanism, or direct to DOM in case of Vanilla.
    </p>
    <p>Please select a framework above to start test.</p>
    <p>
      <sup>*</sup> I'm not very familiar with Vue. If there are ways to optimize
      it, please open a pull request. You can also make pull requests for any other
      framework optimizations as well.
    </p>
  </main>
</Layout>

<style>
  main {
    max-width: 600px;
  }
</style>
